/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #083a75;
  --ifm-color-primary-dark: #073469;
  --ifm-color-primary-darker: #073163;
  --ifm-color-primary-darkest: #062952;
  --ifm-color-primary-light: #094081;
  --ifm-color-primary-lighter: #094387;
  --ifm-color-primary-lightest: #0a4b98;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7ebae5;
  --ifm-color-primary-dark: #60aadf;
  --ifm-color-primary-darker: #52a2dc;
  --ifm-color-primary-darkest: #2a8acf;
  --ifm-color-primary-light: #9ccaeb;
  --ifm-color-primary-lighter: #aad2ee;
  --ifm-color-primary-lightest: #d7e9f7;
}